#user_lists
{
    padding: 0;
}
#user_lists li
{
    list-style: none;
    padding: 0px 36px 0px 0px;
    background: aliceblue;
    margin: 0px 0px 5px 0px;
    border-radius: 3px;
}
#user_lists i:first-of-type {
    padding: 10px 10px;
    background: chartreuse;
}
#user_lists i:last-of-type {
    position: absolute;
    padding: 10px 9px;
    right: 16px;
    background: gold;
    cursor: pointer;
}
#available_user_container h4
{
    text-align: center;
    background: antiquewhite;
    padding: 10px 0px;
    font-size: 20px;
}
.active
{
    color: green;
}
.deactive
{
    color: red;
}